<div class="spinner" *ngIf="this.placesService.showSpinner$ | async">
  <mat-progress-spinner
    class="example-margin"
    color="primary"
    mode="indeterminate"
    value='25'>
  </mat-progress-spinner>
</div>
<div class="wrapper">
  <div class="main-buttons">
    <button *ngIf="!(isLoggedIn | async)" mat-raised-button (click)="openLoginDialog()">Login</button>
    <button *ngIf="isLoggedIn | async" (click)="logout()" mat-raised-button>Logout</button>
  </div>
</div>
<router-outlet></router-outlet>
